<div class="container-fluid">
<div class="navbar-header">
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="
#bs-example-navbar-collapse-1" aria-expanded="false">
<span class="sr-only">Navigation Bar</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<%= link_to 'Home Page', root_path %> |
<%= link_to 'Articles Listing', articles_path %> |
<%# <%= link_to 'Users', users_path %>  
<%= link_to "Sign up!", signup_path, class: "btn btn-success btn-lg" %> 
<% if logged_in? %>
        <li class="nav-item">
          <%= link_to current_user.username, user_path(current_user), class: "nav-link" %>
        </li>
        <%= "(Admin)" if current_user.admin? %> Profile [<%= current_user.username %>]
        <li class="nav-item">
          <%= link_to 'Logout', logout_path, class: "nav-link", method: :delete %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to 'Log in', login_path, class: "nav-link" %>
        </li>
        <%# <li class="nav-item">
          <%= link_to 'Sign up', signup_path, class: "nav-link" %>
        </li> 
      <% end %>
      </ul>
</div>


<div class="collapse navbar-collape" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav">
  </ul>
  </div>
  </div>
  </div>
  </nav>